
<div class="toolbar">
   
    <div class = "name-todo">
        <img  class="image" src="assets/to-do-icon.png" height="100%">

        <h1>TO-DO</h1>
    </div>



    <button type="submit" class = "add-category-btn" (click) = "addCategory()">
        New 
        <span> <img src = "assets/plus-white.png" width="40%" style="margin-top:8px"> </span>
    </button> 

</div>

<div *ngIf = "adding === true" class = "adding-category">
    <input type = "text" placeholder="New Category" #inputCategory name="inputCategory"/>
    <div class="cat-btn">
        <button  class="buttonSave" type="submit" (click) = "saveCategory(inputCategory.value); inputCategory.value = ''">Save</button>
        <button class="buttonCancel" (click)="exitForm()">Cancel</button>
    </div>
    
</div>


<div class="todo-content">
    <div class = "categories" *ngIf = "!editing || !adding">
        <div *ngFor = "let category of categories"  class="category">
            
                <div class="category-title">
                    
                    <p>{{category.title}}</p>
                    
                    <button class = "delete-category" (click) = "deleteCategory(category.id)"> <img src = "assets/trash-can.png" height="60%"></button>
                </div>
                

                <form class="todo-input">
                    <input type = "text" class= "todo-input" placeholder="Add Todo" #inputTodo name="inputTodo">
                   
                    <button class = "add-todo" (click) = "addTodo(category.id, inputTodo.value); inputTodo.value = ''"> <img src = "assets/plus -black.png" height="60%"></button>  
                </form>

                <div *ngFor = "let todo of todos" class="todos-list">
                    <div *ngIf = "todo.category == category.id && todo.completed == false" class="todo-block">
                        <input type="checkbox" class="check-box" (change) = "completeTodo(todo.id)">
                        <div class="todo-desc">
                            {{todo.description}}
                        </div>
                        <!-- <button class="remove-todo" (click) = "updateTodo(todo.id)" >
                            <img src="assets/edit.png" alt="edit-button" width="100%">
                        </button> -->
                    </div>
                </div>
            <!-- </div> -->
        </div>
        
    </div>
    
</div>

