
<div class="toolbar">
   
    <div class = "name-todo">
        <img  class="image" src="assets/to-do-icon.png" height="100%">

        <h1>TO-DO</h1>
    </div>



    <button type="submit" class = "add-category-btn">
        New 
        <span> <img src = "assets/plus-white.png" width="40%" style="margin-top:8px"> </span>
    </button> 

</div>


<div class="todo-content">
    <div class = "categories">
        <div *ngFor = "let category of categories" id="category">
            <p class = "category-title">
                {{category.title}}
                <img src = "assets/plus -black.png" height="60%">
            </p>
            <div *ngFor = "let todo of todos">
                <div *ngIf = "todo.category == category.id" class="todo-block">
                    <p>
                        {{todo.description}}
                    </p>
                </div>
            </div>
        </div>
        
    </div>
</div>

