
<div class="container">

    <div class="content-side">
        <img src ="/assets/logo-white.png" alt = "logo" width="45%" >
        <div class="text">
            <h2>Welcome!<br>To our website.</h2>

            <div class="social-media">
                <a href="https://github.com/Malia-K/Web-Dev-Project.git">
                    <img src="assets/github-sign.png" alt = "github" width="7%">
                    <p>Github</p>
                </a>
            </div>
        </div>
    </div>

    <div class= "sign-in-side">
            <form [formGroup] = "signInForm" class="form-box" (ngSubmit) = "onSubmit()">
                <h2>Sign In</h2>
                <mat-form-field class = "input-box">
                    
                    <input 
                        matInput 
                        
                        formControlName = "login"
                        placeholder="Email"
                        value="{{ username }}"
                    />
                    <!-- type="email"  -->
                    <span class="icon">
                        <img src = "/assets/email.png" alt = "user" height="25px">
                    </span>
                    <mat-error *ngIf="signInForm.controls.login.hasError('required')">
                        Login is required
                    </mat-error>
                </mat-form-field>


                <mat-form-field class = "input-box">
                    <span class="icon">
                        <img src = "/assets/password.png" alt = "user" height="25px">
                    </span>
                    <input
                        matInput 

                        formControlName = "password"
                        placeholder="Password"
                        type="password" 
                        
                    />
                    <!-- value="{{ password }}" -->
                    <mat-error *ngIf="signInForm.controls.password.hasError('required')">
                        Password is required
                    </mat-error>
                </mat-form-field>
                <button 
                    mat-button 
                    color = "success"
                    type="submit" 
                    class ="login-button" 
                    
                    [disabled] = "!signInForm.valid"
                    (click) = "onSubmit()"
                    
                    [routerLink]="isLoggedIn ? ['/main-page'] : ['/sign-up']"
                >
                <!-- routerLink = "/main-page"  -->
                
                
                    Log In
                </button>

                <div class="login-register">
                    <p>Don't have an account?
                        <a href = "/sign-up" class="reister-link"> Sign up </a>
                    </p>
                </div>
            </form>
            
        </div>
</div>

