<div class="container">

    <div class="photo-side">
        <img src="/assets/welcome-page-background.jpg" alt = "background" width="100%" style="    filter: brightness(65%);">
    </div>

    <div class= "sign-in-side">
        <img src ="/assets/logo.png" alt = "logo" width="50%" >
        
        <div class = "input-bar">
            <img src = "/assets/user.png" alt = "user" height="50%">
            <input type="email" placeholder="Email">
        </div>
        
        <input type = "password" placeholder="Password">


        <button type="button" id = "login-button">Log In</button>
    </div>


</div>

