<div class = "full-page">
    <div class="filter-side">
        <div class="user-info">
            <img class="user-photo" src="https://i.pravatar.cc/75" />
            <p class="user-name"> Username </p>
        </div>
    
        <div class = "workspace">
            <p id = "workspace-text">WORKSPACE</p>
    
            <button class="tablinks" >TO-DO</button>
            <button class="tablinks" >PLANNER</button>
            <button class="tablinks"  >HABIT TRACKER</button>
            <!-- <button class="tablinks"  >INCOME / OUTCOME</button> -->
        </div>
    </div>
    
    <div class="content-side">
    
    </div>
</div>
