<div class="toolbar">
   
    <img  class="image" src="assets/habit.png" alt="Описание изображения" width="200" height="150">

    <h1>Habit Tracker</h1>

</div>
<mat-card class="add-form-container" *ngIf="adding || editing">
    <div>
        <h1>Add New Habit </h1>
        <hr />
        <form [formGroup]="habitForm" (ngSubmit)="onSubmit()">
            <div>
                <div appearance="fill">
                    <label>Title</label><br>
                    <input matInput formControlName="name" />
                </div>
                <div appearance="fill">
                    <label>Frequency</label><br>
                    <select formControlName="frequency">
                        <option value="Daily">Daily</option>
                        <option value="Weekly">Weekly</option>
                        <option value="Monthly">Monthly</option>
                    </select>
                </div>
                <br />
                <div appearance="fill">
                    <label>Description</label><br>
                    <textarea matInput formControlName="description" placeholder="Why is this habit important to you? "></textarea>
                </div>
            </div>
            <mat-card-actions>
                <button  class="button2" type="submit">Save</button>
                <button class="button3" (click)="exitForm()">Cancel</button>
            </mat-card-actions>
        </form>
    </div>
</mat-card>
<div class="all-habits" *ngIf="!adding && !editing">
    <div class="tittle">
    <h1>All Habits</h1>
    <button class="plus" (click)="adding=!adding">
    +
    </button>
    </div>
    <div *ngFor="let habit of habits; let i = index;">
        <div class="mat-card-content">
        <mat-card>
            <mat-card-title>
                <mat-icon class="habit-icon">check_coircle_outline</mat-icon>
                {{ habit.name }}
            </mat-card-title>
            <div class="detail-options">
                <mat-icon class="habit-icon2" color="primary" (click)="setEditForm(habit, i)">edit</mat-icon>
                <mat-icon class=" habit-icon3"  (click)="onDelete(i)">remove_circle</mat-icon>
                <mat-icon (click)="onClick(habit)" [ngClass]=" habit.isDone === true ? 'bg-green' : 'bg-red' ">check_circle</mat-icon>
            </div>
            <div class="likes">
                {{habit.likes}}
                <p class="aaa" (click)="incrementLikes(habit)" >+</p>
                
            </div>
            <mat-card-content>
                <p>
                    <span class="detail-label">Frequency:</span> {{ habit.frequency }}
                </p>
                <p>
                    <span class="detail-label">Why is this habit important to me?</span>
                    <br />{{ habit.description }}
                </p>
            </mat-card-content>
        </mat-card>
        </div>
    </div>
</div>