
.toolbar{
    margin-top: -150px;
    /* margin-left: 20px; */
    position: absolute;
    left: 130px;
    top: 30px;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
/* .toolbar img{
    height: 20px;
    width: 20px;
} */

.all-habits {
    text-align: center;
    /* position: absolute; */
    margin-top: 80px;
}

.all-habits h1 {
    top: 115px;
    font-weight: 500;
    font-size: 25px;
    display: inline-block;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.all-habits mat-card {
    width: 65vw;
    margin: 1em auto;
    text-align: left;
    
}

.habit-icon {
    vertical-align: middle;
    padding-bottom: 3px;
    font-weight: 600;
 
}

.detail-label {
    font-weight: 500;
  
    /* font-size: large; */

}

.detail-options {
    position: absolute;
    top: 14px;
    right: 10px;
}

.detail-options mat-icon {
    padding-right: 5px;
    
}

button:hover,
.detail-options {
    cursor: pointer;
}
.plus{
    background-color:#E0D6FF;
    font-size: xx-large;
    font-weight: 900;
    text-align: center;
    width: 50px;
    height: 50px; 
    border-radius: 30%;
    border-color: rgb(255, 255, 255);
    display: inline-block;
    margin-left: 10px;
    transform: scale(0.5);
 
}  
    /* .add-form-container{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 3em;
    /* margin: auto; 
    background-color: #E0D6FF;
    transform: translate(70%, 30%);
    display: inline-block;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    line-height: 25px;
    
    
}   */
/* select{
    width: 100%;
    height: 25px;
    padding:10px;
    border-radius:10px;
} */
.add-form-container {
    background-color:  #E0D6FF;
    border-radius: 10px;
    padding: 25px;
    width: 170%;
    margin: 0 auto;
    transform: translate(60%, 20%);
   
  }
  
  h1 {
    text-align: center;
    font-size: 24px;
    margin-top: 0;
  }
  
  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  form label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  form input,
  form select,
  form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  form input:focus,
  form select:focus,
  form textarea:focus {
    outline: none;
    border: 1px solid #007bff;
  }
  
  .button2, .button3 {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: rgb(0, 0, 0);
  }
  
  .button2 {
    background-color: #007bff;
    margin-right: 10px;
  }
  
  .button3 {
    background-color: #ccc;
  }


mat-card-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 0;
    margin-bottom: 0;
}

form {
    padding-top: 1em;
}

mat-form-field {
    width: 90%;
    height: 50px;
}

button {
    width: 80%;
    max-width: 300px;
    margin-bottom: 1em;
}

button:hover,
.detail-options {
    cursor: pointer;
}
.img{
    height: 30px;
    width: 30px;
}
.habit-icon{
    color: #6e08a0;
}
.habit-icon4{
    color: rgb(59, 189, 59);
}
.habit-icon3{
    color: rgb(220, 36, 36);
}
mat-card-actions{
    transform: scale(1);
    font-weight: 800;
    border: none;
  
}
.button2, .button3{
    
    background-color: rgb(247, 244, 244);
    font-weight: 800;
    border-style:double;
    border-color: black;
    border-width: 1px;
  
}
.image{
    position: absolute;
    width: 51px;
    height: 51px;
    top: 25px;
    left: 40px;
    margin-top: -150px;
    margin-left: 30px;
    
}

.bg-green {
    color: green;
}

.bg-red {
    color: red;
}
mat-card{
    display: flex;
    background-color:#E0D6FF;
    border: 2px solid rgb(250, 248, 248);
    border-radius: 10px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    margin-right: 1000px;
}
mat-card-title{
    font-weight: 600;
}
.likes{
    position: absolute;
    font-size: 1.5em;
    top: 25px;
    right: 20px;
    display: inline-block;
    height: 30px;
    color: #6e08a0
}
.aaa{
    display: inline-block;
    top: 30px;

    /* background-color: lawngreen;
    border-radius: 50%;
    width: 0.9em;
    padding-left: 8px; */
    
    
}

/* mat-option{
    position: absolute; 
    font-weight: 900;
    transform: translate(50%, 50%);
} */

.mat-card-content{
    margin-left: -20px;
    padding: 2px;
    width: 130%;
}
.tittle{
    padding-left: 190px; 
    
}