body{
    margin: 0;
    padding: 0;
}

.container{
    /* display: flex;
    flex-direction: row; */
    position: absolute;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url("/../../assets/welcome-page-back.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.content-side{
    /* display: flex; */
    position: absolute;
    width: 58%;
    height: calc(100% - 80px) ;
    /* background: white; */
    padding: 80px 0px 0px 80px;

}


.text{
    font-size: 30px;
    color: white;
    margin-top: 10%;
    /* margin-bottom: 30px; */
    /* padding-top: 40px; */
}

/* .text h2{
    overflow: hidden;
    animation: printed-text 5s steps(28),flashin-border .75s step-start infinite;
} */

/* @keyframes flashin-border{
    0%{
      border-color: orange;
    }
    50%{
      border-color: transparent;
    }
    100%{
      border-color: orange;
    }
}

@keyframes printed-text{
from {
    width: 0%;
}
} */

.social-media a{
    margin-top: 20%;
    margin-left: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: 100%; */
}

.social-media a{
    list-style: none;
}

.social-media p{
    font-size: 15px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
.social-media p:hover{
    text-decoration: underline;

}

.sign-in-side{
    position: absolute;
    right: 0;
    width: 42%;
    height: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-box{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(5px);
    color: white;

}

.form-box h2{
    font-size: 32px;
    text-align: center;
}

.form-box .input-box{
    position: relative;
    width: 71%;
    height: 50px;
    /* border-bottom:  2px solid white; */
    margin: 15px 0px 15px 80px;
}



.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    padding-right: 58px;
    

}
.input-box input::placeholder{
    color:rgb(214, 214, 214);
}

.input-box label{
    position: absolute;
    top:50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 550;
    pointer-events: none;
    transition: .5s ease;

}

.input-box input:focus~label,
.input-box input:valid~label{
    top:-5px;
}

.input-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
}



.login-button{
    width: 71%;
    height: 45px;
    background-color:white;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(228, 228, 228, 0.5);
    margin-bottom: 20px;
    color: black;
}

.mat-mdc-button:not(:disabled){
    color: black;
}


.login-register a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.login-register a:hover{
    text-decoration: underline;
}

.content-loading{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(51,51,51,0.8)
}

